/*  
    Author:     Prasad A. Pathak
    NEU ID:     002925486
    Email:      pathak.pra@northeastern.edu
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS File to store all the variables required in the webpage
*/

$font : 'Archivo Black', serif;
$off-white : #CCD1D1 ;
$matte-black : #252525;
$lime-green : #9FE2BF;
$light-green : #40E0D0;
$medium-green : #21746b;
$dark-green : #104e48;
$light-blue : #6495ED;
$dark-blue : #173d83;